version: '3.8'
services:
  mongo:
    image: mongo:5
    container_name: davinci-db
    restart: always
    volumes:
      - ./davinci-data:/data/db
    ports:
      - '27017:27017'
  api-production:
    build:
      dockerfile: ./Dockerfile.production
    container_name: davinci-api-prod
    restart: always
    depends_on:
      - mongo
    ports:
      - '80:4000'
    volumes:
      - ./logs:/app/logs
  api-staging:
    build:
      dockerfile: ./Dockerfile.staging
    container_name: davinci-api-staging
    restart: always
    depends_on:
      - mongo
    ports:
      - '8080:5000'
    volumes:
      - ./logs:/app/logs-staging
