version: '3.8'
services:
  mongo:
    image: mongo:4.4
    container_name: davinci-db
    restart: always
    volumes:
      - ./davinci-data:/data/db
    ports:
      - '27017:27017'
  api:
    build: .
    container_name: davinci-api
    restart: always
    depends_on:
      - mongo
    ports:
      - '80:4000'
    volumes:
      - ./logs:/app/logs
